@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.inputAuth {
  @apply w-full mx-auto border-b-2 placeholder:text-slate-300 text-primary my-2 py-1 px-7 focus:border-b-secondary/50 focus:outline-none;
}
